<template>
  <main class="container">
    <div class="row justify-content-center">
      <RegisterForm :data="data" :onRegister="(event)=>onRegister()" />
    </div>
  </main>
</template>

<script>
import RegisterForm from "@/components/auth/RegisterForm";
import api from "@/config/api";

export default {
  // layout: "none",
  components: {
    RegisterForm
  },
  data() {
    return {
      data: {
        name: "",
        email: "",
        password: "",
        confirmPassword: ""
      }
    };
  },
  methods: {
    async onRegister() {
      api
        .register({
          name: this.data.name,
          email: this.data.email,
          password: this.data.password
        })
        .then(response => {
          if (response.status !== 200) {
            console.log("error");
            return;
          }

          localStorage.setItem(
            "user",
            JSON.stringify({
              code: response.data.code,
              name: response.data.name,
              email: response.data.email,
              avatar: response.data.avatar
            })
          );

          localStorage.setItem("token", response.token);
          localStorage.setItem("locale", "th");
          this.$store.dispatch("setAuth");
          this.$router.push("/");
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>