<template>
  <div>
    <b-navbar toggleable="lg" type="light" variant="white">
      <router-link class="navbar-brand" to="/">Default.JS</router-link>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->

        <b-navbar-nav class="ml-auto">
          <template v-if="loggedIn">
            <router-link to="#" class="nav-item nav-link">{{user.name}}</router-link>
            <button @click="onLogout" class="nav-item nav-link">Logout</button>
          </template>
          <template v-if="!loggedIn">
            <router-link to="/login" class="nav-item nav-link">Login</router-link>
            <router-link to="/register" class="nav-item nav-link">Register</router-link>
          </template>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import { api } from "../config/api";

export default {
  computed: {
    user() {
      return this.$store.getters.user;
    },
    loggedIn() {
      return this.$store.getters.loggedIn;
    }
  },
  methods: {
    onLogout() {      
      api
        .logout({ code: this.user.code },this.$store.getters.token)
        .then(response => {        
          if (response.status != 200) {
            console.log("log out error");
            return;
          }
          localStorage.removeItem('user');
          localStorage.removeItem('token');

          this.$store.dispatch("clearAuth");          
          this.$router.push("/");
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>