<template>
  <div class="login">
    <h2 class="text-center">ยินดีต้อนรับ</h2>
    <p
      class="text-black-50 text-center my-3"
    >เข้าสู่ระบบเพื่อรับเนื้อหาที่เหมาะสมกับตัวคุณ เนื้อหาที่แนะนำ, การติดตาม และบทเรียนต่างๆที่คุณชื่นชอบ</p>
    <FacebookLogin />
    <GoogleLogin />
    <form @submit.prevent="onSubmit">
      <div class="form-group">
        <label for="email">อีเมล</label>
        <input
          type="text"
          id="email"
          class="form-control"
          placeholder="กรุณากรอกอีเมล"
          v-model="data.email"
        />
      </div>
      <div class="form-group">
        <label for="password">รหัสผ่าน</label>
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="กรุณากรอกรหัสผ่าน"
          v-model="data.password"
        />
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="rememberMe" />
        <label class="form-check-label" for="rememberMe">จดจำรหัสผ่านไว้</label>
      </div>
      <button class="btn btn-success btn-block">เข้าสู่ระบบ</button>
    </form>
    <p class="text-center my-4">
      ไม่มีบัญชี ?
      <router-link :to="{name: 'register'}">ลงทะเบียน</router-link>
    </p>
  </div>
</template>

<script>
import FacebookLogin from "@/components/auth/FacebookLogin";
import GoogleLogin from "@/components/auth/GoogleLogin";

export default {
  props: ["data", "onSubmit"],
  components: {
    FacebookLogin,
    GoogleLogin
  }
};
</script>
