<template>
  <div class="register">
    <h2 class="text-center">ลงทะเบียน</h2>
    <p
      class="text-black-50 text-center my-3"
    >ลงทะเบียนที่เรียนรู้ทักษะต่างๆที่คุณชื่นชอบ ติดตามผู้คน และสิทธิพิเศษอื่นๆอีกมากมาย</p>
    <!-- Social register -->
    <FacebookLogin />
    <GoogleLogin />
    <p class="text-center">หรือ</p>
    <!-- Email register -->
    <a class="btn btn-email btn-block text-left mt-1 mb-3" v-b-toggle="'collapse-2'">
      <i class="fas fa-envelope text-info mr-1" aria-hidden="true"></i>ลงทะเบียนด้วยอีเมล
    </a>
    <b-collapse id="collapse-2">
      <form @submit.prevent="onRegister">
        <!-- Name -->
        <div class="form-group">
          <label for="name">ชื่อของคุณ</label>
          <input
            type="name"
            id="name"
            class="form-control"
            placeholder="กรุณากรอกอีเมล"
            v-model="data.name"
          />
        </div>
        <!-- Email -->
        <div class="form-group">
          <label for="email">อีเมล</label>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="กรุณากรอกอีเมล"
            v-model="data.email"
          />
        </div>
        <div class="form-group">
          <label for="password">รหัสผ่าน</label>
          <input
            type="password"
            id="password"
            class="form-control"
            placeholder="กรุณากรอกรหัสผ่านอย่างน้อย 6 ตัว"
            v-model="data.password"
          />
        </div>
        <div class="form-group">
          <label for="c-password">ยืนยันรหัสผ่าน</label>
          <input
            type="password"
            id="confirmPassword"
            class="form-control"
            placeholder="กรุณากรอกรหัสผ่านให้ตรงกัน"
            v-model="data.confirmPassword"
          />
        </div>
        <button class="btn btn-success btn-block" type="submit">สมัครสมาชิก</button>
      </form>
    </b-collapse>
    <p class="text-center my-4">
      มีบัญชีอยู่แล้ว ?
      <router-link :to="{name: 'login'}">เข้าสู่ระบบ</router-link>
    </p>
    <p class="text-center text-black-50 my-4">
      เมื่อคลิกสมัคร แสดงว่าคุณยินยอมตาม
      <br />
      <router-link to="#" class="text-black-50 underline">ข้อกำหนด นโยบายข้อมูล</router-link>และ
      <router-link to="#" class="text-black-50 underline">นโยบายคุ๊กกี้</router-link>ของเรา
    </p>
  </div>
</template>

<script>
import FacebookLogin from "@/components/auth/FacebookLogin";
import GoogleLogin from "@/components/auth/GoogleLogin";

export default {
  props: ["data", "onRegister"],
  components: {
    FacebookLogin,
    GoogleLogin
  },
  
};
</script>